@import 'https://www.verizon.com/etc/designs/vzwcom/gnav20/core.css';

@font-face {
    font-family: Medium;
    src: url('./NeueHaasDisplayMedium.ttf');
}

@font-face {
    font-family: Inter;
    src: url('./Inter-Regular.ttf');
}

input:focus {
    outline: none;
}

.user-message {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.assistant-message {
    background: black;
    color: white;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    border-radius: 20px;
}

.carousel-indicators li {
    background-color: black; /* Unselected indicator color */
}

.carousel-indicators .active {
    background-color: grey; /* Selected indicator color */
}