@import "https://www.verizon.com/etc/designs/vzwcom/gnav20/core.css";

@font-face {
  font-family: Medium;
  src: url("./NeueHaasDisplayMedium.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./Inter-Regular.ttf");
}

input:focus {
  outline: none;
}
