.App {
  background-color: #d9d9d9;
  background: linear-gradient(#ffffff, #d9d9d9);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.footer {
  background-color: #000000;
  /* or any desired background color */
  max-width: 100%;
}

.header {
  background-color: #000000;
  /* or any desired background color */
  max-width: 100%;
}

.center-footer {
  justify-content: center;
  align-items: center;
  background-color: #000000;
  /* or any desired background color */
  max-width: 100%;
}


@font-face {
  font-family: verizon;
  src: url('../public/NeueHaasDisplayBlackItalic.ttf');
}

.window{
  width: 100%;
  height: 90%;
  border: 2px;
  box-shadow: 2px 2px 2px 2px #282c34;
  background: linear-gradient(#ffffff, #757575);
  border-radius: 10px;
}